<!DOCTYPE html>
<html lang="en" data-theme="dark">

<head>
    <meta charset="utf-8">
    <title>harsha</title>
    <link rel="icon" type="image/png" href="https://github.com/haarshmap.png">
    <link rel="stylesheet" href="https://minima.namishh.com/dist/minima.min.css" />
    <script defer src="https://minima.namishh.com/dist/minima.min.js"></script>
    <style>
        .main {
            width: 50%;
        }

        body {
            display: flex;
            justify-content: center;
            width: 100vw;
            padding: 10px;
        }


        @media (max-width: 768px) {
            .main {
                width: 75%;
            }
        }

        @media (max-width: 576px) {
            .main {
                width: 100%;
            }
        }
    </style>
</head>

<body>
    <div class="main">
        <div style="display: flex; align-items: center; justify-content: space-between;">

        <div style="display: flex; align-items: center; gap: 20px;">
            <img src="https://github.com/haarshmap.png" style="width: 36px; height: 36px;" alt="">
            <a href="/" class="button-link">haarshmap</a>
        </div>
        <button class="button-primary text" onclick="toggleTheme()"> theme </button>
        </div>
        <div class="content">
            {% block content %} {% endblock content %}
        </div>
    </div>
    <script>
        function toggleTheme() {
            const html = document.documentElement;
            html.dataset.theme = html.dataset.theme === "dark" ? "light" : "dark";
        }
    </script>
</body>

</html>