{% extends "base.html" %}

{% block content %}
<br>
<h2 class="text-accent">a somewhat proper intro</h2>
<br>
yo I am harsha and i am just a guy who loves to just keep simple hobbies while trying out new stuff as a whole. constantly on the lookout to get addicted to something and a huge fan of mechas, anime, mangas, games and essentially anything that looks cool.
currently learning about backend dev and just going with the flow while having some fun at it. 
<br>
<br>
<h2 class="text-accent">why the site for?</h2>
<br>
<p>to basically hope that i find people who have the same interests as me or just be able to share about stuff that i find cool or any cool stuff that happened to me<span></span>.</p>
<br>
<br>
<h2 class="text-accent">to find me</h2>
<br>
<p> if you feel like talking about my errors or just want to have a quick chat or leave any suggestions, you can always find me at </p>
<br>
<p>email: <a href="mailto:harshmap0@gmail.com" style="text-decoration: none;" class="text-muted">harshmap0@gmail.com</a></p>
<p>discord: <span class="text-muted">harshmap</span></p> 

{% endblock content %}