{% extends "base.html" %}

{% block content %}

<div class="spacer-vertical"></div>
<p>i am harsha and just trying to figure things out. a huge vocaloid fan (especially teto) and gaming. currently
    learning backend development</p>

<div class="spacer-vertical"></div>

<br>
<div style="display: flex; align-items: center; gap: 20px;">

    <a href="https://github.com/haarshmap" class="button-link">git</a>
    <a href="https://in.linkedin.com/in/harsha-pandla-8b8040413" class="button-link">linkedin</a>
</div>
<div class="spacer-vertical"></div>
<div class="spacer-vertical"></div>

<div style="display: flex; align-items: center; gap: 20px; margin: 20px 0;flex-wrap: wrap;">
    <a href="/">
        <img src="button_harsha.png" alt="harsha">
    </a>
    <a href="https://namishh.com">
        <img src="https://namishh.com/static/images/button_nam.png" alt="namishh">
    </a>
    <a href="https://thatarcticpenguin.is-a.dev">
        <img src="https://namishh.com/static/images/button_savi.jpg" alt="sabreesh">
    </a>
    <a href="https://rohith.net">
        <img src="https://rohith.net/88x31/rohith.png" alt="rohith">
    </a>
    <a href="https://nithitsuki.com">
        <img src="https://rohith.net/88x31/nithi.png" alt="nithitsuki">
    </a>
</div>

<h3> projects </h3>
<p class="text"> projects ive worked on. see all of them <a href="https://github.com/haarshmap" target="_blank"
        class="button-link">here </a> </p>
<div class="vertical-spacer"></div>
<ul>
    <li>
        <a href="https://github.com/haarshmap/bookie" target="_blank" class="button-link">bookie:</a> <span
            class="text-muted"> simple rest api built with golang and sqlite </span>
    </li>
    <li>
        <a href="https://github.com/haarshmap/scissors-8" target="_blank" class="button-link">scissors-8:</a> <span
            class="text-muted"> rock paper scissors made in pico8 </span>
    </li>
</ul>
<br>
<img src="twto.jpg" style="max-width: 100%;" alt="twto didnt load because she found more baguettes">

{% endblock content %}